<div class="row">
  <div class="col-md-12">

    <h1>Bookmarks by Topic</h1>

    <% @topics.each do |topic| %>
      <div class="list-group">  
        <h4 class="list-group-item list-group-item-info"><%= topic.title %></h4>
        <div class="list-group-item">
          <% topic.bookmarks.each_with_index do |bookmark, index| %>
            <% unless index >= topic.bookmarks.count %>
              <p><%= link_to bookmark.url, bookmark.url, target: "_blank", class: 'margin-left-10' %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>