@import "bootstrap-sprockets";
@import "bootstrap";

// margins, padding, positioning

.nudge-down-5 {
  position: relative;
  top: 5px;
}
.nudge-down-10 {
  position: relative;
  top: 10px;
}
.nudge-left-5 {
  position: relative;
  left: -5px;
}
.nudge-up-10 {
  position: relative;
  top: -10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}

// colors

.remove-color {
  color: steelblue;
}
a.remove-color:hover { 
  text-decoration: none;
}