@import "bootstrap-sprockets";
@import "bootstrap";

// margins, padding, positioning

.nudge-down-5 {
  position: relative;
  top: 5px;
}
.nudge-down-10 {
  position: relative;
  top: 10px;
}
.nudge-left-5 {
  position: relative;
  left: -5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}